<script src="@Url.Content("~/Scripts/home-index.js")" type="text/javascript"></script>
<div id="manufacturersList" class="box">
    <div class="box-head">
        <h2 class="left">Manufacturers</h2>
    </div>
    <div class="box-content">
        <input type="text" placeholder="Add New Manufacturer" data-bind="value: manufacturerToAdd, valueUpdate: 'afterkeydown', executeOnEnter: addManufacturer" />
        <button data-bind="click: addManufacturer">+ Add</button>
        <ul data-bind="foreach: manufacturers">
            <li data-bind="click: $parent.selectManufacturer">
                <span data-bind="text: Name"></span>
                <div>
                    <a href="#" class="manufacturer-edit">Edit</a> 
                    <a href="#" class="manufacturer-delete">Delete</a>
                </div>
            </li>
        </ul>
    </div>
</div>