<script src="@Url.Content("~/Scripts/home-index.js")" type="text/javascript"></script>

<div id="tagsList">
    <div>
        <h2>Manufacturers</h2>
    </div>
    <div>
        <input type="text" placeholder="Add New Manufacturer" />
        <button>+ Add</button>
        
        <ul>
            <li>
                <span></span>
                <div>
                    <a href="#">Edit</a> 
                    <a href="#">Delete</a>
                </div>
            </li>
        </ul>

    </div>
</div>